NEXT_PUBLIC_APP_NAME='Prostore'
NEXT_PUBLIC_APP_DESCRIPTION='A modern ecommerce store built with Next.js'
NEXT_PUBLIC_SERVER_URL='http://localhost:3000'

ADMIN_LOGIN_PASSWORD=YOUR_ADMIN_PASSWORD
DATABASE_URL=YOUR_NEON_POSTGRES_DB_URL
DATABASE_URL_UNPOOLED=YOUR_NEON_POSTGRES_UNPOOLED_URL

NEXTAUTH_SECRET=YOUR_RANDOM_SECRET_KEY
NEXTAUTH_URL='http://localhost:3000'
NEXTAUTH_URL_INTERNAL='http://localhost:3000'

ENCRYPTION_KEY=YOUR_RANDOM_HASHED_KEY
